body {
    height 2500px
}
.promo
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    height 100vh;
    background-color #d5d5d5
    &__inner
        margin auto
        width 25vw
        height 25vw
        border-radius 50%
        background-color #fff
        &.fade-in
           animation opacity 1s linear
.elem
    height 500px
    background-color cyan
@keyframes opacity
    0%
        opacity 1
    100%
        opacity 0

