body {
    height 2500px
}
.promo-wrap
    position: relative;
    height: 100vh;
    width: 100%;
    overflow hidden
.promo
    position: absolute;
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    height 150vw
    width: 150%;
    left: 50%;
    bottom -50%
    transform translateX(-50%)
    background-color #d5d5d5
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    &__inner
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        position: absolute;
        top 5%
        left: 50%;
        transform translateX(-50%)
        width 700px
        height 700px
        border-radius 50%
        background-color #fff
        &.fade-in
            background-color: #f50;
        img
           margin: auto;
.elem
    height 500px
    &__title
        margin: 0;
        font-size: 55px;
        text-align: center;
